@import "tailwindcss";

@font-face {
  font-family: 'PoppinsReg';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  /* font-weight: 400;
  font-style: normal; */
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  /* font-weight: 400;
  font-style: normal; */
}

body {
  font-family: 'PoppinsReg', sans-serif;
} 

h2 {
  font-family: 'PoppinsBold', sans-serif;
}

